@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/JosefinSans-Medium.ttf);
}

$font-1: "font-1", sans-serif;

$color-1: #61dafb;
$color-2: salmon;
$color-3: #1ea845;
$color-4: #15531b;

$white: rgb(243, 243, 243);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffd5c1;
  // background: url(../assets/img/fondEcran.jpg) center/cover;
  font-family: $font-1;
  // @include verticalCenter;
}

li {
  list-style-type: none;
}